.dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: linear-gradient( #f5f7fa, #c3cfe2);
  color: #333;
  overflow-y: scroll;
}

.dashboard {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.dashboard::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.dashboard h1 {
  color: black;
  text-align: center;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2c4c79;

}

.card p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

@media (max-width: 768px) {
  .dashboard h1 {
    font-size: 16px;
    margin: 10px 0;
  }

  .main-content {
    padding: 10px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin: 10px;
    width: 90%;
  }

  .card h2 {
    font-size: 14px;
  }

  .card p {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .dashboard h1 {
    font-size: 18px;
    padding: 10px;
  }

  .card {
    margin: 10px 5px;
    padding: 15px;
    width: 95%;
  }

  .card h2 {
    font-size: 12px;
  }

  .card p {
    font-size: 16px;
  }
}
