.fragrances-container {
  max-width: 2000px;
  /* margin: 10px auto; */
  margin-top: 0px;
  padding: 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  height: 90vh;
}

.fragrances-container {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.fragrances-container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

img {
  height: 10%;
}

.fragrances-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.fragrance-card {
  /* background:  #c3cfe2; */
  background: linear-gradient(to left, #f5f7fa, #c3cfe2);

  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
  transition: box-shadow 0.3s ease-in-out;
  position: relative; /* Enable positioning for child elements */
}

.fragrance-card:hover {
  box-shadow: 0 0 20px #A399B2;
}

.fragrance-card img {
  width: 70%;
  height: 310px;
  /* object-fit: ; */
  margin-left: 15%;
  border-radius: 10px 10px 0 0;
}

.fragrance-card h2 {
  font-size: 18px;
  margin-top: 10px;
  color :  #2c4c79;
}

.fragrance-card p {
  font-size: 14px;
  color: rgb(49, 86, 155)
}

/* Button container for cart and purchase buttons */
.button-container {
  display: flex; /* Use flexbox for alignment */
  justify-content: space-around ; /* Space items evenly */
  margin-top: 10px; /* Space between the text and buttons */
  /* padding: 10px 15px;    */
}

.cart-icon-button {
  background-color: #4D4855; /* Background color */
  color: cornsilk; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 15px; /* Padding */
  font-size: 14px; /* Font size */
  cursor: pointer; /* Change cursor on hover */
  right: 0px;
  position: relative;
}

.cart-icon {
  font-size: 1.5rem;
  color: white; 
}

.cart-icon-button:hover .cart-icon {
  background-color: rgb(121, 227, 121); 
}


/* Responsive design */
@media (max-width: 768px) {
  .fragrances-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .fragrances-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* For WebKit browsers */
.fragrances-container::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.fragrances-container::-webkit-scrollbar-track {
  background: none;
}
.fragrances-container::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}
.fragrances-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}