body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  overflow: hidden;
}

body
  {
       background:linear-gradient(to right, #000000, #4D4855,#000000);
       /* background:linear-gradient(to right, #D7D7D8, #C7C9CB); */
  }
  /* body .ProductTable{
    
    overflow: scroll;
  } */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
